<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>COVID-19 Probability Detector</title>
  </head>
  <style>
    body {
      background-image: url('mlshow.jpg');
      height: 150%;
      background-position: down;
      background-repeat: no-repeat;
      background-size: cover;
    }
 
.bottomright {
      position: absolute;
      bottom: 30px;
      left: 30px;
      font-size: 18px;

  }
    </style>
  <body>
  <body>
<div class="container">
      <h2 class="text-center">Coronavirus Probability Detector</h2>
      <p>  </p>
      <br /> 
<br /> <br /> 
<br /> 
      <p> Patient's Probability of Infection is <b>{{inf}}</b>.</p>
      <p> Your State {{state}} has <b>{{active}}</b> active patients as of yesterday</p>
      <br /> 
<br />
      <p>Symptoms Requiring Immediate Medical Attention (COVID-19)</p>

        <p>-difficulty breathing or shortness of breath</p>
        
        <p>- pain or pressure in the chest</p>
        
        <p>- new confusion or difficulties waking up</p>
        
        <p>- bluish lips or face</p>
        <br /> 
<br />
      <p> Thanks for Using COVID Probability Detector </p>
    <a href="/">
    <button  class="btn btn-outline-success my-2 my-sm-0 bottomright" type="submit">Go Back</button>
    </a>
</div>



    </body>
</html>